*{
    margin: 0px;
    padding: 0px;
    background-size: cover;
}
header{
    max-width: 100%;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    background: linear-gradient(to left ,#061b97,#0d6097,#052ba8);
}
.logo{
    color: white;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;

}
nav{
    float: right;
}
.clearfix{
    clear: both;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 72px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
nav ul li a.active,
nav ul li a:hover{
    background: #66CCFF;
    color: #fff;
    transition: 0.5s;
}
.menu-toggle{
    display: none;
}
#toggle
    {
        display: none;
    }
body{
    background-image: url("astro_bg.jpg");
    font-family: "Poppins",sans-serif;
}
.science{
    text-decoration: underline;
    position: relative;
    top: 85px;
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 6%;
    padding: 10px;
    font-family: system-ui;
    display: inline-block;
}
.science h1{
    text-decoration: underline;
    float: left;
    font-family: system-ui;
    margin: 5px;
    color: white;
}
iframe{
    margin-left: 21px;
}
.s_a{
    width: 76%;
    float: left;
    margin: 5px;
    padding: 3px;
    margin-top: 40px;
}
.s_a h2{
    display: inline-block;
    width: 51%;
    height: 120px;
    color: white;
    margin: 4px;
    font-size: 24px;
}
.s_a p{
    font-weight: 500;
    color: #08fcf0;
    font-size: 15px;
}
#intro{
    font-family: system-ui;
    float: left;
    color:white;
    font-size: large;
}
#intro img{
    width: 20%;
    float: right;
}

@media (max-width: 768px)
{
    .logo{
        font-size: 25px;
    }
    header{
        max-width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    nav ul li a{
        margin: 10px auto;
        padding: 25px -1px;
    }
    nav li{
        margin: 0;
    }
    nav ul{
        display: block;
    }
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: rgb(0, 238, 255);
    }
    .menu-toggle::before
    {
        line-height: 40px;
        font-family: fontAwesome;
    } 
    nav
    {
        width: 100%;
        float: left;
        display: none;
    }
    #toggle:checked + nav
    {
        display: block;
    }
    #toggle
    {
        display: none;
    }
    .science h1{
        margin: 2px;
    }
    iframe{
        margin-left: 0px;
        width: 100%;
        height: 150px;
    }
    .s_a{
        float: none;
        width: 100%;
        margin: 2px;
        padding: 1px;
        margin-top: 20px;
    }
    .s_a h2{
        width: 100%;
        height: 60px;
        margin: 2px;
        font-size: 12px;
    }
    .s_a p{
        font-weight: 500;
        font-size: 8px;
    }
    #intro{
        font-size: 12px;
    }
    #intro img{
        width: 30%;
    }
}
