*{
    margin: 0px;
    padding: 0px;
    background-size: cover;
}
.navbar{
    position: fixed;
    background-color: #000000;
    padding: 3px;
    color: white; 
    width: -webkit-fill-available;
    overflow: hidden;
    z-index: 12;
}
.navbar ul{
    position: relative;
    bottom: 16px;
    list-style: none;
    overflow: hidden;
    padding-left: 31%;
}
.navbar li{
    font-weight: bold;
    float: left;
    font-family: sans-serif;
}
.navbar li a{
    padding: 3px;
    text-decoration: none;
    margin: 46px;
    color: white;
    font-size: 19px;
    
}
.navbar a:hover{
    text-decoration: underline ;
    color: aqua;
}
.navbar h1{
    position: relative;
    top: 9px;
    display: inline-block;
    padding: 3px;
    margin: 10px;
    padding-left: 35px;
    font-family: math;
    font-size: 34px;
}
.home{
    position: relative;
    top: 85px;
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 20px;
    margin-left: 50px;
    padding: 10px;
    font-family: sans-serif;
    color: rgb(47, 128, 235);
    display: inline-block;
}
.home h1{
    font-family: system-ui;
    margin: 5px;
}
.home #i2{
    float: right;
    margin: 11px;
    width: 24%;
}
.home #p2{
    font-family: system-ui;
    color: #000000;
    font-size: large;
}
.home li{
    color: #000000;
    list-style: inside;
}

@media (max-width: 500px){
    .navbar{
        height: 50px;
    }
    .navbar h1{
        font-size: 16px;
        padding: 1px;
        margin: 0%;
    }
    .navbar li a{
        padding: 1px;
        margin: 8px;
        font-size: 12px;
    }
    .navbar ul{
        position: relative;
        bottom: -10px;
    }
    .home{
        position: relative;
        top: 42px;
        width: -webkit-fill-available;
        overflow: hidden;
        margin: 10px;
        padding: 5px;
        font-family: sans-serif;
        color: rgb(47, 128, 235);
        display: inline-block;
    }
    .home h1{
        font-family: system-ui;
        margin: 2px;
        font-size: 12px;
    }
    .home #i2{
        float: right;
        margin: 5px;
        width: 30%;
    }
    .home #p2{
        font-family: system-ui;
        color: #000000;
        font-size: 8px;
    }
    .home li{
        font-size: 9px;
    }
}
