body{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    background: url(ibg.jpg);
    background-size: cover;
}
header{
    position: relative;
    max-width: 45%;
    margin: 30px;
    margin-top: 60px;
    padding: 10px;
    background: linear-gradient(to left ,#0033CC,#66CCFF,#0033CC);
    border-radius: 50px;
}
.clearfix{
    clear: both;
}
nav ul{
    display: flex;
    margin: 0%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-size: 25px;
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(24, 60, 128);
    transition: 0.5s;
}
.menu-toggle{
    display: none;
}
#toggle
    {
        display: none;
    }

@media (max-width: 768px)
{
    body{
        background-image: url(pbg.jpg);
    }
    header{
        max-width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    nav ul li a{
        padding: 25px 0px;
    }
    nav ul{
        display: block;
    }
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: rgb(0, 238, 255);
    }
    .menu-toggle::before
    {
        line-height: 40px;
        font-family: fontAwesome;
    } 
    nav
    {
        display: none;
    }
    #toggle:checked + nav
    {
        display: block;
    }
    #toggle
    {
        display: none;
    }
}
