*{
    margin: 0px;
    padding: 0px;
    background-size: cover;
}
body{
    margin: 0;
    padding: 0; 
    background: linear-gradient(to left ,#3e68e9,#66CCFF,#6788ec);
    font-family: "Poppins",sans-serif;
}
header{
    max-width: 100%;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    background: linear-gradient(to left ,#061b97,#0d6097,#052ba8);
}
.logo{
    color: white;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;

}
nav{
    float: right;
}
.clearfix{
    clear: both;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 72px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
nav ul li a.active,
nav ul li a:hover{
    background: #66CCFF;
    color: #fff;
    transition: 0.5s;
}
.menu-toggle{
    display: none;
}
#toggle
    {
        display: none;
    }
iframe{
    margin: 21px;
}
.video{
    text-decoration: underline;
    position: relative;
    top: 85px;
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 38px;
    padding: 10px;
    font-family: "Poppins",sans-serif;
    color:  black;
    display: inline-block;
}
.left{
    width: 30%;
    float: left;
    margin: 5px;
    padding: 3px;
    margin-top: 40px;
}
.left h2{
    width: 95%;
    float: right;
    color: black;
}
.center{
    display: inline-block;
    width: 30%;
    margin: auto;
    padding: 3px;
    margin-top: 40px;
    position: relative;
    left: 4%;
}
.center h2{
    width: 95%;
    float: right;
    color: black;
}
.right{
    width: 30%;
    float: right;
    margin: 5px;
    padding: 3px;
    margin-top: 40px;
}
.right h2{
    width: 105%;
    float: left;
    color: black;
}
@media (max-width: 768px)
{
    .logo{
        font-size: 23px;
    }
    header{
        max-width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    nav ul li a{
        margin: 10px auto;
        padding: 25px -1px;
    }
    nav li{
        margin: 0;
    }
    nav ul{
        display: block;
    }
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: rgb(0, 238, 255);
    }
    .menu-toggle::before
    {
        line-height: 40px;
        font-family: fontAwesome;
    } 
    nav
    {
        width: 100%;
        float: left;
        display: none;
    }
    #toggle:checked + nav
    {
        display: block;
    }
    #toggle
    {
        display: none;
    }
    .video h1{
        font-size: 20px;
    }
    iframe{
        margin: 10px;
        width: 100%;
        height: 70px;
        margin-left: 1%;
    }
    .video{
        text-decoration: underline;
        position: relative;
        top: 40px;
        width: -webkit-fill-available;
        overflow: hidden;
        margin: 19px;
        padding: 5px;
        font-family: system-ui;
        color: rgb(0, 0, 0);
        display: inline-block;
    }
    .left{
        width: 30%;
        float: left;
        margin: 2px;
        padding: 1px;
        margin-top: 10px;
    }
    .left h2{
        font-size: 8px;
        width: 95%;
        float: right;
        color: black;
    }
    .center{
        display: inline-block;
        width: 30%;
        margin: auto;
        padding: 1px;
        margin-top: 10px;
        margin-left: 3px;
        position: relative;
        left: 2%;
    }
    .center h2{
        font-size: 8px;
        width: 95%;
        float: right;
        color: black;
    }
    .right{
        width: 30%;
        float: right;
        margin: 2px;
        padding: 1px;
        margin-top: 10px;
    }
    .right h2{
        width: 110%;
        font-size: 8px;
        float: left;
        color: black;
        position: relative;
        left: 1px;
    }
}
